.climb-manager {
  width: 1000px;
  margin: auto;
}

.climb-manager h2 {
  margin-top: 10vh;
}

.climb-manager-duplicates ul {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  width: 800px;
  margin: 0;
  padding: 0;
}
.climb-manager-duplicates li {
  white-space: nowrap;
  padding: 0.25em 0.5em;
  border: dashed 1px black;
  display: inline;
  margin-right: 1em;
  margin-bottom: 0.5em;
  line-height: 1.5em;
  font-size: 1em;
}
.climb-manager-duplicates li span:not(:first-child)::before {
  display: inline;
  content: ' - ';
}


.plain-climb-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.plain-climb-list li {
  display: inline;
}
.plain-climb-list li:not(:first-child)::before {
  display: inline;
  content: ', ';
}

.climb-manager-difficulty__grades {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.climb-manager-difficulty__grade {
  font-family: var(--font-family-mono);
}
.climb-manager-difficulty__grade-climbs {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: 1em;
}
.climb-manager-difficulty__grade-climbs li {
  margin: 0;
  padding: 0;
  display: inline;
}
.climb-manager-difficulty__grade-climbs li:not(:first-child)::before {
  display: inline;
  content: ', ';
}
