.climb-fields-input {
}
.climb-fields-input--field {
  padding-bottom: 0.5em;
}
.climb-fields-input--field-key,
.climb-fields-input--field-value,
.climb-fields-input--field-remove {
}

.climb-length-input {
}
.climb-length-input--lower,
.climb-length-input--upper,
.climb-length-input--unit {
  margin-right: 3px;
}

.climb-resource-input {
  padding-bottom: 1em;
}
.climb-resource-input--resource,
.climb-resource-input--title,
.climb-resource-input--description,
.climb-resource-input--remove {
  display: block;
}
