.climb-page {
    margin: 20vh auto;
    max-width: 1000px;
}
.climb-page > * {
    margin-bottom: 2vh;
}

.rating__difficulty-protection {
    font-weight: bold;
    font-size: 1.2rem;
}

.climb-page--steepness-terrain {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.climb-page--steepness-terrain {
}

/* edit-view-prompt */
.evp {
    display: grid;
    grid-template-columns: 100px 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "prompt edit view";
}
.evp__prompt {
    grid-area: prompt;
    font-family: sans;
    text-align: right;
    padding-right: 0.5em;
}
.evp__prompt br {
    margin-bottom: 0.5em;
}
.evp__edit {
    grid-area: edit;
    font-family: mono, mono;
    padding-right: 1em;
}
.evp__view {
    grid-area: view;
}

.climb-name {
    font-weight: bold;
    font-size: 1.6em;
}
.climb-alternate-names {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.climb-alternate-name {
    margin: 0;
    padding: 0;
}
.climb-alternate-name::before {
    display: inline;
    content: 'a.k.a.';
    opacity: 0.75;
    margin-right: 0.5em;
}

.climb-ascents {
    margin: 0;
    padding: 0;
    margin-left: 1.5em;
}
.climb-ascent {
    margin: 0;
    padding: 0;
}


.climb-tags {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.climb-tag {
    margin: 0 0.25em;
    padding: 0.5em;
    font-size: 0.8em;
    background: #ddd;
    display: inline;
}

.climb-fields {
}
.climb-field {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-bottom: 0.5em;
  border-bottom: dotted black 1px;
  max-width: 300px;
}
.climb-field-key {
}
.climb-field-key::after {
  display: inline;
  content: ': ';
}
.climb-field-value {
}

.climb-notes {
}
.climb-note {
  margin-bottom: 0.5em;
}
.climb-note-topic {
  font-weight: bold;
}
.climb-note-content {
  white-space: pre-wrap;
}

.climb-resource {
  margin-bottom: 0.5em;
}
.climb-resource-resource {
}
.climb-resource-description {
  padding-left: 0.5em;
}

.data-dump {
  font-size: 0.75;
  padding: 1em;
  border: solid 1px black; 
  white-space: pre;
}
