.climbs-page {
  max-width: 1000px;
  margin: auto;
  margin-top: 10vh;
}

.climbs-page__header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 10vh;
}
.climbs-page__header-title h1 {
  margin: 0;
}

.climbs-index {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5em 2em;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 10vh;
}
.climbs-index__item {
  margin: 0;
  padding: 0;
}
