.dashboard {
  max-width: 1000px;
  margin: auto;
  padding-top: 5vh;
}

.dashboard h2,
.dashboard h3 {
  margin-top: 1em;
}

.dashboard__pagelist {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dashboard__pagelist-item {
  border: solid 1px black;
  width: 150px;
  padding: 0.5em;
  margin: 0;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
}

.dashboard__pagelist-item a {
  display: block;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 5px;
  font-weight: bold;
}

.dashboard__listings .dashboard__pagelist-item {
  width: 100px;
  text-align: center;
}
