.map-page {
    max-width: 1200px;
    max-height: 1000px;
    height: 98vh;
    margin: auto;
    display: grid;
    grid-template-columns: 60% auto;
    grid-template-rows: 20% 10%;
}
.map-page__map {
    grid-row: 1 / span 2;
    grid-column: 1;
    margin-top: 1vh;
    height: 98vh;
}
.map-page__controls {
    grid-row: 1;
    grid-column: 2;
    border: solid black 1px;
    display: flex;
    flex-flow: column wrap;
}
.map-page__supplement {
    grid-row: 2;
    grid-column: 2;
    border: solid yellow 1px;
}
