.photos-page__header {
  text-align: center;
}

.photos-page__photos {
  list-style-type: none;
  margin: auto;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.photos-page__photo {
  margin: 8px;
  font-size: 0;
  background-color: #AAF;
}
.photos-page__photo a {
  display: block;
  margin: 0;
  padding: 0;
}

.photo-upload-info {
  max-width: 500px;
  margin: auto;
}
