.photo-page {
  margin-top: 10vh;
  margin-left: 10vh;
}
.photo-page > * {
  margin-bottom: 10vh;
}

.photo-page__upper {
  display: flex;
  flex-flow: row;
  justify-content: left;
  max-width: 1800px;
  margin: auto;
  margin-bottom: 10vh;
}
.photo-page__text-attributes {
  padding-left: 1.5em;
}
.photo-page__text-attributes > * {
  margin-bottom: 1.5em;
}

.photo-page__thumbnail-figure {
  margin: 0;
  padding: 0;
}

.photo-page__thumbnail-figure figcaption {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  font-size: 0.8rem;
}
.photo-page__thumbnail-figure figcaption h1 {
  margin: 0;
  font-size: inherit;
  font-weight: normal;
}
.photo-page__thumbnail-figure figcaption a {
}

.real-location {
  width: 800px;
  height: 800px;
}

.photo-climb-layers {
  margin: 0;
  padding: 0;
  max-width: 800px;
}

.photo-area-layers {
  margin: 0;
  padding: 0;
  max-width: 800px;
}

.photo-data-summary__json {
  font-size: 12px;
  height: 80vh;
  overflow: scroll;
  width: 120ch;
  font-family: var(--font-family-mono);
}
