:root {
    --font-family-sans:
        -apple-system, BlinkMacSystemFont, avenir next,
        avenir, segoe ui, helvetica neue, helvetica,
        Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    --font-family-serif:
        Iowan Old Style, Apple Garamond, Baskerville, 
        Times New Roman, Droid Serif, Times, Source Serif Pro, serif,
        Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    --font-family-mono:
        Menlo, Consolas, Monaco, Liberation Mono,
        Lucida Console, monospace;
}
html {
    font-size: 16px;
    font-family: var(--font-family-sans);
}
body {
    background-color: #F0F8FF;
    margin: 0;
    padding: 0;
}
a[target=_blank]::after {
    display: inline;
    content: ' ⮹';
}
a[disabled] {
    pointer-events: none;
    text-decoration: underline dotted;
    color: rgba(0, 0, 50, 0.3);
}
input {
    font-family: unset;
}
small {
    font-size: 0.75em;
}

.sans {  font-family: var(--font-family-sans); }
.mono {  font-family: var(--font-family-mono); }
.serif { font-family: var(--font-family-serif); }


.main-header {
    position: relative;
    z-index: 10000;
}

.main-header img {
    z-index: 10001;
    cursor: pointer;
    display: block;
    position: fixed;
    background-color: white;
    border: solid 1px #bbb;
    top: 5px;
    right: 5px;
    padding: 2px;
    height: 30px;
    width: 30px;
    opacity: 0.8;
}

.main-header nav {
    display: none;
}

.main-header:hover nav {
    position: fixed;
    width: 20rem;
    height: 20rem;
    top: 0.125rem;
    right: 0.125rem;
    border: solid 1px #bbb;
    background-color: orange;
    display: grid;
    grid-template-rows: 37.5px auto;
    grid-template-columns: auto 37.5px;
}

.main-header__main-workflows {
    grid-column: 1;
    grid-row: 1 / span 1;
    list-style-type: none;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    line-height: 37.5px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.main-header__columns {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}
.main-header__entities,
.main-header__other-workflows {
    text-align: left;
    margin: 0;
    padding: 0;
    margin-top: 0.5em;
    list-style-type: none;
}
.main-header__entities li,
.main-header__other-workflows li {
    padding-bottom: 0.5em;
}

article.standard {
    max-width: 1000px;
    margin: auto;
}
