
.urgent-page-photo-list {
  max-height: 80vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-around;
}

.base-requirements header {
  text-align: center;
}
.base-reqs-table {
  border-collapse: collapse;
  margin: auto;
}

.base-reqs-table tr {
  border-bottom: solid black 1px;
}
.base-reqs-table td {
  padding: 0.5em 3em;
}
