.leaflet-mount-map-standardtopo {
    position: relative;
    z-index: 1000;
    pointer-events: none;
    height: 100%;
    width: 100%;
}
.leaflet-mount-map-standardtopo > * {
    pointer-events: all;
}
