.leaflet-climb-marker--center {
    border: solid 1px black;
    border-radius: 50%;
    background: white;
    display: block;
    width: 10px;
    height: 10px;
}

.leaflet-photo-marker--center {
    display: block;
    border: solid 1px black;
    background: orange;
}

.leaflet-photo-exif-marker {
    display: block;
    border: solid 1px black;
    background: pink;
}


.leaflet-parking-marker {
    border: solid 2px blue;
    background: white;
    color: blue;
    display: block;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
}

.leaflet-area-marker--approximation-center {
    border: solid 1px black;
    background: #00FFFF;
    display: block;
    width: 10px;
    height: 10px;
}
